
<div class="col-md-9">
  <div class="row calendario">
    <div class="col-xs-2 calendario_mes">
      <p>Julio</p>
    </div>
    <div class="col-xs-2 calendario_dia">
      <p>12 al 23</p>
    </div>
    <div class="col-xs-9 calendario_descripcion">
      <p>58° Olimpiada Internacional de Matemática- 58th IMO - Rio de Janeiro(Brasil).</p>
    </div>
  </div>
  <div class="row calendario">
    <div class="col-xs-2 calendario_mes">
      <p>Agosto</p>
    </div>
    <div class="col-xs-2 calendario_dia">
      <p>3 y 4</p>
    </div>
    <div class="col-xs-9 calendario_descripcion">
      <p>Selección 32ª Olimpíada Iberoamericana de Matemática - 32ª OIM.</p>
    </div>
  </div>
  <div class="row calendario">
    <div class="col-xs-2 calendario_mes">
      <p>Agosto</p>
    </div>
    <div class="col-xs-2 calendario_dia">
      <p>9 al 11</p>
    </div>
    <div class="col-xs-9 calendario_descripcion">
      <p>Olimpíadas Provinciales y Certamen Metropolitano Ñandú.</p>
    </div>
  </div>
  <div class="row calendario">
    <div class="col-xs-2 calendario_mes">
      <p>Agosto</p>
    </div>
    <div class="col-xs-2 calendario_dia">
      <p>23 al 25</p>
    </div>
    <div class="col-xs-9 calendario_descripcion">
      <p>Olimpíadas Regionales u Olimpíadas Provinciales OMA</p>
    </div>
  </div>

  <div class="row calendario">
    <div class="col-xs-2 calendario_mes">
      <p>Agosto</p>
    </div>
    <div class="col-xs-2 calendario_dia">
      <p>31</p>
    </div>
    <div class="col-xs-9 calendario_descripcion">
      <p>	26ª Olimpíada Matemática Ñandú - Certamen Regional..</p>
    </div>
  </div>
</div>