<a href="matematica.php">
	<div class="col-lg-4 col-md-12 boton-letra">
		<p>M</p>
	</div>
</a>
<a href="fisica.php">
	<div class="col-lg-4 col-md-12 boton-letra">
		<p>F</p>
	</div>
</a>
<a href="otros.php">
	<div class="col-lg-4 col-md-12 boton-letra">
		<p>O</p>
	</div>
</a>