<div class="owl-carousel">
    <div>
        <img class="img-responsive" src="img/math1.jpg" alt="Disfrutar">
        <div class='texto'>
            <h1> Disfrutar </h1>
        </div>
    </div>
    <div>
        <img class="img-responsive" src="img/math2.jpg" alt="Comprender">
        <div class='texto'>
            <h1> Comprender </h1>
        </div>
    </div>
    <div>
        <img class="img-responsive" src="img/math3.jpg" alt="Transmitir">
        <div class='texto'>
            <h1> Transmitir </h1>
        </div>
    </div>
</div>