<div id="part-noticias" class="col-md-3">
	<div id="destacados" class="">
		<a>
			<h3>Noticias</h3>
		</a>
		<div class="item">
			<a href="pdf/autorizacionandu.pdf" title="autorizacion Nandu">
				<p class="title">Autorizacion Nandú 2017</p>
			</a>
		</div>
		<div class="item">
			<a href="pdf/autorizacionoma.pdf" title="autorizacion OMA">
				<p class="title">Autorizacion OMA 2017</p>
			</a>
		</div>
		<div class="item">
			<a href="" title="" class="ver-mas">
				<p class="fecha"> 6 junio, 2017</p>

				<p class="categoria"> Alumnos </p>
				<p class="title"> ARTE FRACTAL </p>
				<p></p>
			</a>
			<p><a href="" title="Arte Fractal" class="ver-mas"></a>
				<a
				  class="read-more" href="">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
					  x="0px" y="0px" width="30.75px" height="30.75px" viewBox="0 0 30.75 30.75" enable-background="new 0 0 30.75 30.75" xml:space="preserve">
						<circle fill="none" stroke="#444444" stroke-miterlimit="10" cx="15.375" cy="15.375" r="14.875"></circle>
						<g>
							<line fill="none" stroke="#444444" stroke-miterlimit="10" x1="15.243" y1="10.058" x2="15.243" y2="21.058"></line>
							<line fill="none" stroke="#444444" stroke-miterlimit="10" x1="20.743" y1="15.558" x2="9.743" y2="15.558"></line>
						</g>
					</svg> <span> leer más</span></a>
			</p>

		</div>
	</div>
</div>