
<section id="matematica publico">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Mathematical main table</h2>
          <hr>
        </div>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>Criba</h3>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
            <div class="front">
                <h3>Aqui explicamos Ecuaciones</h3>
              <img src="img/image37.png" class="img-responsive" alt="ecuaciones">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="pdf/ejercicios de logaritmos.pdf">Logaritmos</a>
                </li>
                <li>
                  <a target="_blank" href="pdf/CUADERNILLO MATE 5A 5B BORROM.pdf">cuadernillo</a>
                </li>
                <li>
                  <a target="_blank" href="pdf/ELIPSES E HIPERBOLAS.pdf">elipses con mathematica de Wolfram</a>
                </li>
                <li>
                  <a target="_blank" href="docx/SEMEJANZA.docx">Semejanza</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
            <div class="front">
                <h3>La Familia de las Funciones</h3>
              <img src="img/funciones.png" class="img-responsive" alt="">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="pdf/CUADERNILLO MATE 6A 6B BORROM.pdf">Cuadernillo</a>
                </li>
                <li>
                  <a target="_blank" href="pdf/ejercicios de derivacion.pdf">derivacion ejercicios </a>
                </li>
                <li>
                  <a target="_blank" href="pdf/09_Limites,continuidad_y_asintotas.pdf">Limite, continuidad y asintotas</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
            <div class="front">
                <h3>La vida en 2D y 3D
                </h3>
              <img src="img/image40.png" class="img-responsive" alt="">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="">sistemas de ecuaciones</a>
                </li>
                <li>
                  <a target="_blank" href="">estadistica</a>
                </li>
                <li>
                  <a target="_blank" href="">numeros reales</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>CALCULO FUNCIONAL?</h3>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
              <h3>Qué significa log, profe? </h3>
            <div class="front">
              <img src="img/logaritmos.png" class="img-responsive" alt="">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="pdf/ESTADISTICA I.pdf">Cuadernillo</a>
                </li>
                <li>
                  <a target="_blank" href="PDF/PARCIALES UBA ANALISIS DESCRIPTIVO.pdf">Parciales UBA</a>
                </li>
                <li>
                  <a target="_blank" href="">otros apuntes</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
            <div class="front">
                <h3>Tiende a cero, o a infinito? </h3>
              <img src="img/limites.png" class="img-responsive" alt="">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="http://www.oma.org.ar/">web de OMA</a>
                </li>
                <li>
                  <a target="_blank" href="">ejercicios resueltos </a>
                </li>
                <li>
                  <a target="_blank" href="PDF/APUNTE PARA OMA.pdf">apuntes</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
            <div class="front">
                <h3>Derivando funciones!!!</h3>
              <img src="img/image36.png" class="img-responsive" alt="">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="pdf/El movimiento.pdf">El Movimiento</a>
                </li>
                <li>
                  <a target="_blank" href="pdf/Choque.pdf">Choque</a>
                </li>
                <li>
                  <a target="_blank" href="pdf/Las Leyes de Newton.pdf">Las leyes de Newton</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>Todavia hay más de cálculo?</h3>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
            <div class="front">
                <h3>Como se calcula el volumen de un mate?</h3>
              <img src="img/image41.png" class="img-responsive" alt="">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="index1.php">Filosofía paraa niños</a>
                </li>
                <li>
                  <a target="_blank" href="PDF/PARCIALES UBA ANALISIS DESCRIPTIVO.pdf">Parciales UBA</a>
                </li>
                <li>
                  <a target="_blank" href="">otros apuntes</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
            <div class="front">
                <h3>Que probabilidad tengo de aprobar?</h3>
              <img src="img/image30.png" class="img-responsive" alt="">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="http://www.oma.org.ar/">web de OMA</a>
                </li>
                <li>
                  <a target="_blank" href="">ejercicios resueltos </a>
                </li>
                <li>
                  <a target="_blank" href="PDF/APUNTE PARA OMA.pdf">apuntes</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 programa-item flip-container">
          <div class="flipper">
            <div class="front">
                <h3>app y software que pueden ayudarte</h3>
              <img src="img/image18.png" class="img-responsive" alt="">
            </div>
            <div class="back">
              <ul>
                <li>
                  <a target="_blank" href="pdf/El movimiento.pdf">El Movimiento</a>
                </li>
                <li>
                  <a target="_blank" href="pdf/Choque.pdf">Choque</a>
                </li>
                <li>
                  <a target="_blank" href="pdf/Las Leyes de Newton.pdf">Las leyes de Newton</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>                        