.calendario {
  display: flex;
  margin: 53px 0 15px 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  &:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }

  &:first-of-type {
    margin: 15px 0 15px 0;
  }

  p {
    @extend %font-family;
    font-style: normal;
    margin: 5px 0;
    font-size: 16px;
  }
  .calendario_mes {
    background-color: $color-turqueza;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    p {
      color: $color-blanco;
      text-transform: uppercase;
      text-align: center;
      @media (max-width: 768px) {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
  }
  .calendario_dia {
    padding: 0;
    background-color: #aaa;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    p {
      color: #333;
      text-align: center;
      @media (max-width: 768px) {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
  }
  .calendario_descripcion {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
  }
  .calendario_pdf:hover {
    background-color: #142c90;
  }
  .calendario_pdf {
    background-color: $color-azul;
    text-align: center;
    padding: 0;
    a {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  &:nth-child(2n+1) {
    .calendario_mes {
      background-color: $color-azul;
    }
    .calendario_pdf {
      background-color: $color-azul;
    }
    .calendario_pdf:hover {
      background-color: #333;
    }
  }
}
