//colors
$color_celeste_fondo: rgb(129, 216, 240);
$color_gris_trasnparente: rgba(23, 22, 22, 0.00);
$white_35: rgba(0, 0, 0, 0.85);
body {
	background-color: #6175DE;
	a {
		text-decoration: none;
	}
}

#mainimage {
	display: inline-block;
}

.botones-home {
	font-size: 129px;
	margin-right: 52px;
	color: $color_gris_trasnparente;
	&:hover {
		color: $white_35;
	}
}

#mainimage {
	display: inline-block;
}

.texto {
	position: absolute;
	bottom: 150px;
	text-align: center;
	width: 100%;
	color: white;
	background-color: rgba(204, 203, 203, 0.32);
}

.boton-letra {
	margin: 25px 0px 25px 0px;
	p {
		margin: auto;
		padding-top: 19px;
		text-align: center;
		color: #fff;
		font-size: 70px;
		background-color: rgba(249, 127, 9, 0.89);
		width: 130px;
		height: 130px;
		border-radius: 50%;
		&:hover {
			background-color: rgba(249, 87, 8, 0.89);
		}
	}
}