#destacados {

  h3 {
    color: $color-noticias;
    border: 4px solid $color-noticias;
    padding: 8px;
    font-weight: 600;
    margin-top: 14px;
    font-size: 16px;
  }
  .item {
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.35);
    background-color: $color-turqueza;
    padding: 15px;
    margin-top: 16px;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.7);
    }
    p.fecha {
      float: left;
    }
    p.categoria {
      float: right;
    }
    p.title {
      clear: both;
      @extend %font-p-xs;
      font-style: italic;
      color: $color-blanco;
      font-weight: bold;
      margin-bottom: 15px;
    }
    a.read-more {
      position: relative;
      display: table;
      svg {
        float: left;
      }
      span {
        margin-top: 6px;
        position: relative;
        display: block;
        float: left;
        margin-left: 11px;
      }
      &:hover {
        span {
          color: $color-blanco;
        }
        svg {
          line,
          circle {
            stroke: $color-blanco;
          }
        }
      }
    }
    &:nth-child(2n+1) {
      background-color: $color-gris;
      p.title {
        color: $primary-color-dark;
      }
      &:hover svg {
        line,
        circle {
          stroke: $color-noticias;
        }
      }
    }
  }
}