
/*flip*/

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.back {
  backface-visibility: hidden;
  background-color: #128f76;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.front {
  pointer-events: none;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}