body {
    @extend %font-family;
    background-color: $color-blanco;
}

html {
    height: 100%;
}

*:focus {
    outline: 0;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $color-blanco inset;
    -webkit-text-fill-color: #5d5c5c;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    background: $color-blanco;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $color-azul;
}

.img-responsive-SVG {
    display: block;
    max-width: 100%;
    height: initial;
}

@-ms-viewport {
    width: device-width;
}

.display-none {
    display: none;
}

.text-center {
    text-align: center;
}