$color-blanco:#fcfcfc;
$color-azul: #14214b;
$color-turqueza: #67B9F1;
$color-naranja: #C99f7e;
$color-gris:#d7d9dd;
$color-transparent:transparent;
$color-noticias:#2C2053;

// Material Palette  

$primary-color-dark:   #000000;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #536DFE;
$primary-text-color:   #000;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


// Como usar estos colores:
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=1976D2&secondary.color=536dff&secondary.text.color=000000&primary.text.color=ffffff