<footer class="text-center footer-style">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <h3>Dirección</h3>
        <p>
          Ciudad Madero, Bs. As.- Argentina <br /> OLAVARRIA 1825
        </p>
      </div>
      <div class="col-md-4 footer-col">
        <h3>Mis redes</h3>
        <ul class="list-inline">
          <li>
            <a target="_blank" href="https://www.facebook.com/Abaciclub/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://classroom.google.com/u/2/h" class="btn-social btn-outline"><i><i class="fa fa-university" aria-hidden="true"></i></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-col">
        <h3>Docencia en Matemática</h3>
        <p>Comprender, disfrutar y transmitir.</p>
      </div>
    </div>
  </div>
</footer>