<script type="text/javascript" src="../src/js/dependencias/jquery.js"></script>
<script type="text/javascript" src="../src/js/dependencias/bootstrap/transition.js"></script>
<script type="text/javascript" src="../src/js/dependencias/bootstrap/collapse.js"></script>
<script type="text/javascript" src="../src/js/dependencias/bootstrap/scrollspy.js"></script>
<script type="text/javascript" src="../src/js/dependencias/jquery.easing.min.js"></script>
<script type="text/javascript" src="../src/js/dependencias/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="../src/js/dependencias/jquery.validate.min.js"></script>
<script type="text/javascript" src="../src/js/dependencias/owl.carousel.js"></script>

  
<script type="text/javascript" src="../src/js/main.js"></script>
